@use "../abstracts/variables" as *;

* {
  box-sizing: inherit;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  padding: 1rem 1rem 5rem;

  @media screen and (min-width: $tablet-grid-width) {
    padding: 2.5rem 1rem 5rem;
  }

  @media screen and (min-width: $desktop-grid-width) {
    padding: 5rem 1rem;
  }

  &.disable-scroll {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
