$almost-white: #fffdfa;
$dark-space-blue: #00001a;
$gunmetal: #5e607a;
$light-vermillion: #f15d51;
$silver: #c5c6ce;
$yellow: #e9aa52;

$desktop-menu-width: 720px;
$tablet-menu-width: 650px;
$desktop-grid-width: 1000px;
$max-width: 1110px;
